@charset "UTF-8";
/*
 *  Author    ：山东企信
 *  Time    ：2015年5月10日 09:42:05;
 */
 #header #nav{
  width: 1200px;
 }
 #header #logo{
  text-indent: 0;
  line-height: 41px;
  color: #333;
  width: 167px;
}
#header #logo span{
    color: #01afec;
}
#header #nav li{
  position: relative;
  width: 90px;
}
#header #nav li a span{
  font-size: 16px;
}
.menu_two a.current{
  background-color: #f9ca5d;
}
.slideNav{
  display: none;
  position: fixed;
  top: 82px;
  left: 0;
  width: 100%;
  height: auto;
  background: #fff;
  z-index: 999;
/*  left: 50%;
  margin-left: -600px;*/
  padding: 5px;
}
.slideNav .picList .picListLeft li a{
  float: left;
  margin: 10px;
  color: #666;
}
.slideNav .picList .channel{
  padding: 10px 5px;
  font-weight: bold;
  font-size: 14px;
  color: #007ac0;
  border-bottom: 1px solid #a4a5a6;
  line-height: 20px;
}

.slideNav .picList .picListLeft{
  width: 500px;
  float: left;
}
.slideNav .picList .picListRight{
  width: 920px;
  float: right;
}
.slideNav .picList .picBox{
  display: block;
  width: 200px;
  height: 160px;
  border: 1px solid #ccc;
  float: right;
  margin-left: 20px;
  margin-right: 5px;
}
.slideNav .picList .picBox img{
  width: 200px;
  height: 160px;
}

/*服务项目*/
/**/

.clear {
  float: none !important;
  clear: both;
}



.boxes {
  width: 1190px;
  margin: auto;
}

.boxes>div {
  position: relative;
}

.boxes figure figcaption{
  background-color: #193149;
  position: absolute;
  top: 0;
  font-size: 13px;
  line-height: 19px;
  color: #cbc6c6;
  text-align: left;
  left: 0;
  height: 100%;
  width: 183px;
  padding: 0 11px;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  -o-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
       -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
  overflow: hidden;
}

figcaption h3 {
  color: #ffffff;
  text-align: center;
  padding-top: 18px !important;
  font-size: 38px;
  margin-bottom: 18px !important;
  font-family:sans-serif;

}
figcaption span{
  display: block;
  font-family:sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.grid_4{
  width:395px;
  float: left;
}
.boxes {
  margin-bottom: 20px;
}


.boxes figure div {
    width: 390px;
  overflow: hidden;
  background: white;
}

.boxes figure {
    width: 390px;
    margin-left: 5px;
  -webkit-perspective: 1700px;
  -moz-perspective: 1700px;
  -ms-perspective: 1700px;
  -o-perspective: 1700px;
   perspective: 1700px;
    
    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 50%;
    -ms-perspective-origin: 0 50%;
    -o-perspective-origin: 0 50%;
    perspective-origin: 0 50%;
  background-color: #193149;
}
.boxes figure img{width: 390px;
overflow: hidden;}
/*.figure_one{*/
    /*margin-left: 0;*/
/*}*/
/*.figure_third{*/
    /*margin-right: 0;*/
/*}*/
/*.grid_two{margin-left: -20px;}*/
/*.grid_three{margin-left: 20px;}*/
.boxes figure img {
  position: relative;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.boxes figure:hover img {
  -webkit-transform: translateX(25%);
  -moz-transform: translateX(25%);
  -ms-transform: translateX(25%);
  transform: translateX(25%);
}

.boxes figure:hover figcaption {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  -o-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}


/*轮播图*/
        /* 本例子css */
        .fullSlide{ width:100%;  position:relative;  height:517px; background:#000;  }
        .fullSlide .bd{ margin:0 auto; position:relative; z-index:0; overflow:hidden;  }
        .fullSlide .bd ul{ width:100% !important;  }
        .fullSlide .bd li{ width:100% !important;  height:517px; overflow:hidden; text-align:center;  }
        .fullSlide .bd li a{ display:block; height:410px; }

        .fullSlide .hd{ width:100%;  position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px; }
        .fullSlide .hd ul{ text-align:center; }
        .fullSlide .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:42px; height:11px; margin:1px; overflow:hidden; background:#000;
            filter:alpha(opacity=50);opacity:0.5;  line-height:999px;
        }
        .fullSlide .hd ul .on{ background:#f00;  }

        .fullSlide .prev,
        .fullSlide .next{  display:block;  position:absolute; z-index:1; top:50%; margin-top:-30px; left:15%;  z-index:1; width:40px; height:60px; background:url(../images/slider-arrow.png) -126px -137px #000 no-repeat;  cursor:pointer; filter:alpha(opacity=50);opacity:0.5; display:none;  }
        .fullSlide .next{ left:auto; right:15%; background-position:-6px -137px; }


/*底部*/
#footer .copyright{
  width: 350px;
}


/*弹窗*/
.alertBoxBg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 999;
    display: none;
}
.alertBoxContainer{
    position: fixed;
    width: 380px;
    height: 160px;
    left: 50%;
    top: 50%;
    margin-left: -190px;
    margin-top: -80px;
    background: #fff;
    color: #444;
    border-radius: 5px;
    border:6px solid #707070;
    z-index: 9999;
    display: none;
}
.alertBoxContainer .alertBoxTitle{
    font-size: 14px;
    font-weight: 700;
    color: #369;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
}
.alertBoxContainer .alertBoxTitle span{
    padding-left: 10px;
}
.alertBoxContainer .alertBoxTitle .ico{
    display: block;
    float: right;
    padding:2px 4px;
    background: #ddd;
    font-style: normal;
    line-height: 12px;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
    color: #fff;
    border-radius: 1px;
}
.alertBoxContainer .alertBoxTitle .ico:hover{
    background: #369;
    color: #fff;
}
.alertBoxContainer .alertBoxInfo{
    height: 70px;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    text-align: center;
    color: #444;
    font-size: 14px;
    padding-top: 10px;
}
.alertBoxContainer .alertBoxBtn{
    background:#0b60a1;
    padding: 2px 5px;
    color: #fff;
    border-bottom: 1px solid #095188;
    border-radius: 1px;
}
.alertBoxContainer .alertBoxBtn:hover{

}
.alertBoxContainer .alertBoxBottom{
    position: relative;
}
.alertBoxContainer .alertBoxBottom .alertBoxBtn{
    position: absolute;
    right: 10px;
    top: 5px;
}